// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#coach_card {
  text-align: center;
  color: white;
  font-size: 32px;
  border-radius: 5px;
  background-color: green;
  width: 100%;
  height: 200px;

}

#submit {
  width: 100px;
  height: 30px;
  background-color: blue;
  color: white;
  border-radius: 10px;
}

#form {
  height: 100px;
}

#input {
  width: 200px;
  height: 30px;
  text-align: center;
}
